.app {
  height: 736px;
  width: 414px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background: #FFE2E2;
}

.top-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.daily-goal {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 1.39px;
  padding-left: 20px;
}

.settings-cog {
  padding-right: 20px;
  cursor: pointer;
}

.tomato-1 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

