.app {
  height: 736px;
  width: 414px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background: #FFE2E2;
}

.daily-goal {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 1.39px;
  position: relative;
  top: 20px;
  left: 20px;
}
