hr {
  width: 50%;
  height: 3%;
}

.app {
  height: 736px;
  width: 414px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background: #FFE2E2;
}

.top-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.daily-goal {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 1.39px;
  padding-left: 20px;
}

.settings-cog {
  padding-right: 20px;
  cursor: pointer;
}

.tomato-1 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.timer-container {
  background-color: #bd3c60;
  width: 100%;
  height: 190px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.timer {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1.39px;
}

.countdown {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  color: #FFFFFF;
  letter-spacing: 1.39px;
  font-weight: 300;
  padding-top: 20px;
}

.text-flex {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.green-container-text {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 1.25px;
  font-weight: 500;
  width: 100%;
}




.green-container {
  background-color: #71AF69;
  width: 100%;
  height: 150px;
}

.timer-arrow-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 55px;
}

.pomodoro-box-flex {
  display: flex;
  flex-direction: row;
  padding-left: 55px;
  padding-top: 10px;

}

.pomodoro-box {
  width: 48px;
  height: 59px;
  background-color: white;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: #4A4A4A;
  text-align: center;
  margin-left: 5px;
}

.arrow-flex {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
}

.arrow {
  cursor: pointer;
  padding-bottom: 10px;
}

.settings-display {
  display: none;
}

.app-settings {
  height: 736px;
  width: 414px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.settings-container {
  background-color: #bd3c60;
  width: 100%;
  height: 140px;
  padding-top: 10px;
}

.settings-arrow {
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 10px;
}

.settings-header {
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  font-weight: 200px;
  color: #FFFFFF;
  letter-spacing: 1.25px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.options-container {
  display: flex;
  flex-direction: column;

}

.row-flex {
  display: flex;
  align-items: baseline;
}

.options-text {
  font-family: 'Roboto', sans-serif;
  color: #4A4A4A;
  font-weight: 200;
  font-size: 25px;
  padding-top: 40px;
  padding-left: 30px;
}

.name-cancel-button {
  padding-right: 30px;
}

.settings-box {
  width: 48px;
  height: 59px;
  background-color: #bd3c60;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-left: 5px;
}

.daily-goal-flex {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.daily-goal-settings {
  padding-right: 30px;
}

.red-text {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #bd3c60;
  letter-spacing: 1.25px;
  font-weight: 500;
  width: 100%;
}

.pomodoro-box-red {
  width: 48px;
  height: 59px;
  background-color: #bd3c60;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-left: 5px;
}

.red-pomodoro-box-flex {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 20px;

}

.red-text-flex {
  display: flex;
}

.red-pomodoro-text-margin {
  margin-left: 31px;
}

.red-break-text-margin {
  margin-right: 25px;
}

.tomato-family-container {
  background-color: #FFE2E2;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tomato-family {
  margin-top: 40px;
}

.back-text {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  padding-left: 10px;
}

.timer-row-flex {
  display: flex;
  justify-content: center;
}

.timer-cancel-button {
  cursor: pointer;
}
